.tout{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.tex{
    color: rgb(255,255,255);
}
.button{
    height: 3.5rem;
    width: 13rem;
    background-color: rgb(186,85,211);
    border-radius: 25px;
    font-size: 1.5rem;
    border-style: hidden;
    outline: none;
    color: rgb(255,255,255);
}
.button:hover{
    animation: shake 1.50s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.books{
    display: flex;
}
a{
    position: absolute;
    font-size: 2rem;
    margin: -1% 0px 0px 52%;
  }
s{
    -webkit-text-decoration-line: overline underline; /* Safari */
    text-decoration-line: overline underline; 
}